<div class="user-info">
  <app-navigation></app-navigation>
  <div class="personal-info">
    <div class="header">
      <h1>My Info</h1>
    </div>
    <span class="basic-user-info">
    <img id="person-image" src="../../../assets/image.jpg">
    <div class="basic-user-fields">
        <div class="username">
        <mat-label class="mat-input-element-bold">Username</mat-label>
          <input matInput class="mat-input-element" placeholder="Gosho">
        </div>
        <br>
        <div class="email">
        <mat-label class="mat-input-element-bold">Email</mat-label>
            <input matInput class="mat-input-element" placeholder="gosho@abv.bg">
        </div>
            <br>
        <div class="phone-number">
        <mat-label class="mat-input-element-bold">Phone number</mat-label>
           <input matInput class="mat-input-element" placeholder="0895123456">
        </div>
            <br>
      <!--Liked tours, commented tours-->
    </div>
  </span>
    <button mat-raised-button class="mat-class-buttons">Save changes</button>
  </div>
</div>
