<div class="user-info">
  <app-navigation></app-navigation>
  <div class="personal-info">
  <div class="header">
    <h1>My Info</h1>
    <button mat-button class="mat-class-buttons" id="edit-button"><mat-icon > border_color</mat-icon></button>
  </div>
  <span class="basic-user-info">
    <img id="person-image" src="../../../assets/image.jpg">
    <div class="basic-user-fields">
        <div class="username">
        <mat-label class="mat-input-element-bold">Username</mat-label>
          <mat-label class="mat-input-element">{{user.username}}</mat-label>
        </div>
        <br>
        <div class="email">
        <mat-label class="mat-input-element-bold">Email</mat-label>
            <mat-label class="mat-input-element">{{user.email}}</mat-label>
        </div>
            <br>
        <div class="phone-number">
        <mat-label class="mat-input-element-bold">Phone number</mat-label>
           <mat-label class="mat-input-element">{{user.phoneNumber}}</mat-label>
        </div>
            <br>
      <div class="role">
        <mat-label class="mat-input-element-bold">Role</mat-label>
           <mat-label class="mat-input-element">{{user.role}}</mat-label>
        </div>
            <br>
<!--      <div class="booked-tours">-->
<!--        <mat-label class="mat-input-element-bold">Booked Tours</mat-label>-->
<!--           <mat-label class="mat-input-element">{{user.bookedTours}}</mat-label>-->
<!--        </div>-->
<!--            <br>-->
    <!--Liked tours, commented tours-->
    </div>
  </span>
  </div>
</div>
