<div class="tour-page">
  <app-navigation></app-navigation>
  <div class="tour-page-content">
    <div class="tour-basic-info">
      <div class="tour-header">
        <h1 class="tour-name">Tour Name</h1>
        <input matInput class="mat-input-element" placeholder="New tour name">
      </div>
      <div class="tour-price">
        <mat-label class="mat-input-element-bold" id="tour-price-header">Price</mat-label>
        <input matInput class="mat-input-element" placeholder="New price">
      </div>
      <div class="tour-photo">
        <img id="tour-photo" src="../../../assets/image1.jpg">
      </div>
      <div class="tour-destination">
        <mat-label class="mat-input-element-bold" id="tour-destination-header">Destination</mat-label>
        <input matInput class="mat-input-element" placeholder="New destination">
      </div>
      <div class="tour-description">
        <mat-label class="mat-input-element-bold" id="tour-description-header">Description</mat-label>
        <input matInput class="mat-input-element" placeholder="New description">
      </div>
      <div class="save-changes">
        <button mat-button class="mat-class-buttons" id="save-changes-button">Save changes</button>
      </div>
    </div>
  </div>
</div>
