@import url('http://fonts.cdnfonts.com/css/italiana');

.example-form{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
  "search contacts login registration"
  "welcome ... destinations rankings";
  border: #24d698 solid;
  background-color: #a2eed6;
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

#search-field{
  font-family: 'Italiana', sans-serif;
  font-size: 15px;
  font-weight: bold;
  grid-area: search;
  border-radius: 10px;
}

#contact-button{
  font-family: 'Italiana', sans-serif;
  font-size: 20px;
  font-weight: bold;
  grid-area: contacts;
}

#login-button{
  font-family: 'Italiana', sans-serif;
  font-size: 20px;
  font-weight: bold;
  grid-area: login;
}

#registration-button{
  font-family: 'Italiana', sans-serif;
  font-size: 20px;
  font-weight: bold;
  grid-area: registration;
}

#welcome-header{
  font-family: 'Italiana', sans-serif;
  font-size: 60px;
  font-weight: bold;
  grid-area: welcome;
}

#destinations-button{
  font-family: 'Italiana', sans-serif;
  font-size: 15px;
  font-weight: bold;
  grid-area: destinations;
}

#rankings-button{
  font-family: 'Italiana', sans-serif;
  font-size: 15px;
  font-weight: bold;
  grid-area: rankings;
}

.mat-class-buttons{
  height: 3rem;
}

