<div class="contacts-page">
  <app-navigation></app-navigation>
  <div class="contacts-info">
    <h1 id="tour-agency-name">Tour Agency Name</h1>
    <div class="phone-number">
      <h2 id="tour-agency-phone-number">Phone number</h2>
      <mat-label class="mat-input-element-bold">+359 2 981 21 00</mat-label>
      <mat-label class="mat-input-element-bold">+359 2 971 23 12</mat-label>
    </div>
    <div class="tour-agency-email">
      <h2 id="tour-agency-email">Email</h2>
      <mat-label class="mat-input-element-bold">tour.agency@abv.bg</mat-label>
    </div>
    <div class="tour-agency-address">
      <h2 id="tour-agency-address">Address</h2>
      <mat-label class="mat-input-element-bold">Bulgaria, Sofia</mat-label>
      <mat-label class="mat-input-element-bold">blvd. Vitosha 21</mat-label>
    </div>
    <div class="tour-agency-work-time">
      <h2 id="tour-agency-work-time">Work Time</h2>
      <mat-label class="mat-input-element-bold">Monday-Friday: 09:00-18:00</mat-label>
      <mat-label class="mat-input-element-bold">Saturday: 10:00-14:00</mat-label>
      <mat-label class="mat-input-element-bold">Sunday: closed</mat-label>
    </div>
  </div>
</div>
