<div class="login-page-class">
  <span class="left-part-login">
    <h2>Welcome To Our Tour Finder Web App!</h2>
    <img src="../../../assets/image1.jpg">
    <h3>You don't have an account? Register!</h3>
  </span>
    <span class="right-part-login">
      <h1>Log In</h1>
        <form [formGroup]="logInForm" (submit)="login()">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button class="mat-class-buttons" (click)="navigate()">Log In</button>
        </form>
    </span>
</div>
